:root {
  /**
   * Layout
   */
  --base-blue: #202E42;
  --base-blue-dark: #182333;
  --base-blue-active: #334A6D;
  /* Also uses for selections */
  --base-blue-hover: #334A6D80;

  --base-label: #C5C5C5;
  /* Markers, badges, etc. */
  --base-featured-element: #E0D68A;
  /**
   * Tokens
   */

  /**
   * OtherË
   */
}
